html {box-sizing:border-box;}

*, *:before, *:after {box-sizing:inherit;}

*{text-decoration: none;}

body {

  /*background: url(images/bg.jpg);
  background-repeat: no-repeat;*/
  background-color: #999;

}


#cContainer {

  width: 900px;
  margin:auto;
}

#cHeader {
  
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  height: 67px;

}


.cSocMedBorder{

  width: 60px;
  border-bottom: 5px solid #777; 
  position: absolute;
  top: 60px;
  opacity: 0.6;
  filter: alpha = 60;
  
}


.cHeadSocMed {

  position: relative;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  margin-left: 5px;
}

.cHeadSocMedIcon {

  font-size: 40px;
  color: #FFF;
  opacity: 0.6;
  filter: alpha = 60;
}


#cFaceBook {background-color: rgb(68, 88, 151);}
#cRSS {background-color: rgb(204, 143, 50);}
#cTwitter{background-color: rgb(106, 141, 199);}
#cYouTube{background-color: rgb(178, 56, 45);}

#cElipsV {

  top: 5px;
  display: flex;
  flex-direction: column;
  line-height: 18px;
  margin-top: 5px;
  color: #FFF;  
}


#cElipsV div {margin-bottom: -10px;}


#cSubscribe {

  margin-right: 100px;
  line-height: 67px;
  font-family: Verdana, Geneva, sans-serif;
  color: #FFF;
  font-size: 14px;
  text-transform: uppercase;

}


#cNav {

  height: 50px;
  margin-top:20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;


}

.cNavBtn {

  width: 200px;
  height: 40px;
  background-color: rgb(180, 41, 46);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 0px;
}

.cNavBtn p {

  color: #FFF;
  line-height: 5px;
  font-family: Calibri, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;


}

.cNavBtnBorder {

  width: 200px;
  border-bottom: 5px solid #777; 
  top: 60px;
  opacity: 0.6;
  filter: alpha = 60;
}

.cDash{
  width: 12px;
  height: 3px;
  background-color: #FFF;
  margin-top: 18px;
}

#cSlideShowOutter {
  
  height: 400px;
  margin-top:20px;
  position: relative;
}


#cSlideShowInner {
  
  border: 10px solid #FFF; 
  height: 400px;
  overflow: hidden;
  
}


#cTopImg{

  margin-left: -250px;
  margin-top: -110px;
}

#cGrid{

  margin-left:0px;
  margin-top: -900px;
  opacity: 0.3;
  filter: alpha = 30;
}

#cPerLogo{

  position: absolute;
  top: 100px;
  left: 30px;

}

#cSlideShowBorder{

  border-bottom: 5px solid #777; 
  opacity: 0.6;
  filter: alpha = 60;

}



#cRadBtn {

  height: 30px;
  margin-top:10px;
  text-align: center;
}


#cRadBtnContainer {

  margin: auto;
}

.cRadio:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgb(176, 43, 33);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 4px solid white;
}

.cRadio:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}



#cArticle {
  
  height: 340px;
  margin-top:15px;
  font-family: Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.cArticleBox {

  width: 295px;
  height: 320px;
  background-color: #FFF;
  position: relative;
}

.cArtHeader {

  padding-left: 20px;
  padding-right: 20px;
  font-size: 22px;
  margin-bottom: 0px;
  font-weight: 100;
  color: #474747;
}


.cArtDate {

  color: #BBBCBD;
  font-size: 14px;
  font-weight: 100;
  padding-left: 20px;
  margin-bottom: 0px;
  
}

.cArtBody {

  width: 250px;
  padding-left: 20px;
  line-height: 20px;
  font-size: 11px;
  font-weight: 100;
  color: #5C5C5C;
  
}

.cArtReadMore {

  width: 100%;
  text-align: center;
  color: rgb(180, 41, 46);
}

.cArtBorder {

  bottom: -5px;
  height: 5px;
  width: 295px;
  border-bottom: 5px solid #777; 
  opacity: 0.6;
  filter: alpha = 60;
  position: absolute;
}




#cSkater {

  height: 455px;
  margin-top:20px;
  position: relative;
}

.cSkaterOutter {

  float:left;
}


.cSkterInner {

  overflow: hidden;
  border: 5px solid #FFF;
  width: 290px;
  height: 220px;
  margin-right: 12px;
  margin-bottom: 12px;
}

.cSkaterOutter:nth-child(3) .cSkterInner {

  clear: left;
  width: 595px;

}

.cSkaterOutter:nth-child(4) .cSkterInner {

  float: right;
  width: 290px;
  height: 450px;
  margin-right: 0px;
  margin-top: -230px;
}


.cSkterInner p {

  color: #FFF;
  text-transform: uppercase;
  font-family: "Arial Black", Gadget, sans-serif;
  text-align: center;
  font-size: 40px;
  line-height: 45px;
}

.cSkaterOutter:nth-child(1) p {
   margin-top: -170px; 
}

.cSkaterOutter:nth-child(1) img {
  margin-left: -125px;
}



.cSkaterOutter:nth-child(2) p {
   margin-top: -170px;
   
}

.cSkaterOutter:nth-child(2) img {
  margin-left: 0px;
}


.cSkaterOutter:nth-child(3) p {
   margin-top: -230px;
   
}

.cSkaterOutter:nth-child(3) img {
  margin-top: -60px;
}

.cSkaterOutter:nth-child(4) p {
   margin-top: -300px;
   
}

.cSkaterOutter:nth-child(4) img {
  margin-left: -400px;
}


.cSkaterBorder {

  position: absolute;
  border-bottom: 5px solid #777; 
  opacity: 0.6;
  filter: alpha = 60;

}


.cSkaterOutter:nth-child(1) .cSkaterBorder {
  
  
  width: 290px;
  bottom: 230px;
  
}

.cSkaterOutter:nth-child(2) .cSkaterBorder {
  
  width: 290px;
  bottom: 230px;
}

.cSkaterOutter:nth-child(3) .cSkaterBorder {

  width: 595px;
  bottom: -2px;
}

.cSkaterOutter:nth-child(4) .cSkaterBorder {
  
  width: 290px;
  bottom: -2px;
}

#cBoard {
  
  border: 1px solid #000; 
  height: 300px;
  margin-top:20px;


}

#cContact {
  
  border: 1px solid #000; 
  height: 400px;
  margin-top:20px;

}








