html {box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit;}

body {
  background: #000;
}
* {
  
}
.cWideCont {

  width: 900px;
  height: 400px;
  margin: auto;
}
.cThinCont {

  width: 700px;
  height: 600px;
  margin: auto;
}
#cMidCont {

  background-color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cMidLeftCont h2 {

font-family: Verdana, Geneva, sans-serif;
  color: #332103;
}

#cMidLeftCont p {

  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px
}
#cMidLeftCont:nth-child(1) a {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 10px;
} 
#cMidLeftCont div:nth-child(5) {

  text-align: left;
  padding-left: 30px;
  font-size: 20px;
  font-family: Verdana, Geneva, sans-serif;
  color: #734901;
}

#cMidLeftCont div:nth-child(8){
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
}
#cMidLeftCont div:nth-child(8) div:nth-child(1) {
  height:20px;
  margin-right: 5px;
  background-color: #856836;
}
#cMidLeftCont div div:nth-child(1) span i {
  
  height: 20px;
  width: 30px;
  color: #EEE;
  text-align: center;
  background-color: #999;
  padding: 0px 5px;
}
#cMidLeftCont div div:nth-child(1) span:nth-child(2) {
    
  color: #FFF;
  padding-right: 5px;
  font-size: 12px;
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
}

#cMidLeftCont {
  width: 380px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}
#cMidRightCont {
  width: 290px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#cMidRightCont div:nth-child(1) div {
  width: 100px;
  height: 200px;
  margin-top: -200px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

#cMidRightCont div:nth-child(1) {
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #777;
  margin: auto;
  margin-top: 30px;
}
#cMidRightCont div:nth-child(1)  img {
  width: 100px;
  height: 150px;
  margin-left: -5px;
  margin-top: -40px;
}
#cMidRightCont div:nth-child(2) {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  height: 70px;
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;

  
}
#cMidRightCont div:nth-child(2) a {
  color: #734C0A;
  text-decoration: none;
  text-align: center;
}


#cMidRightCont div:nth-child(2) div {
  margin: auto;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#cMidRightCont div:nth-child(2) p {
  color: #734C0A;
  text-transform: uppercase;
  font-size: 10px;

}
#cMidRightCont div:nth-child(3) {
  overflow: hidden;
  width: 250px;
  height: 250px;
  background-color: #777;
  margin: auto;
  margin-top: 20px;
}

#cMidRightCont div:nth-child(3)  img {
  width: 400px;
  height: 250px;
  margin-left: -150px;
  margin-top: -5px;
}
#cMidRightCont div:nth-child(3) div {
  width: 300px;
  height: 350px;
  margin-top: -300px;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
#cMidRightCont div:nth-child(4) p{
  margin: auto;
  width: 250px;
  text-align: right;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 8px;
  text-decoration: none;
  color: #8F5F0B;
}
#cMidRightCont div:nth-child(4)  a {
  color: #8F5F0B;
} 
#cMidRightCont div:nth-child(5) {
  margin: auto;
  width: 250px;
  font-family: Verdana, Geneva, sans-serif;
}

#cMidRightCont div:nth-child(5) h5 {
  width: 250px;
  color: #4A3511;
}

#cMidRightCont div:nth-child(5) p {
  width: 250px;
  font-size: 12px;

}





#cBottCont h1 {
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
  color: #4A3511;
}

#cBottCont div:nth-child(2) div {
  width: 250px;
  height: 200px;
  text-align: center;
  font-family: Verdana, Geneva, sans-serif;
}

#cBottCont div:nth-child(2) {
  display: flex;
  flex-direction: row;
}

#cBottCont div:nth-child(2) img {
  width: 200px;
  height: 200px;
}

#cBottCont div:nth-child(2) div:nth-child(1) div {
  margin-top: -203px;
  opacity: 0.5;
}
#cBottCont div:nth-child(2) div:nth-child(1) h3 {
  margin-top: -30px;
  color: #FAD89D;
  padding-left: 5px;
  text-align: left;
  font-family: Verdana, Geneva, sans-serif;
  
}

#cBottCont div:nth-child(2) div:nth-child(2) img {
  width: 250px;
  height: 200px;
}

#cBottCont div:nth-child(2) div:nth-child(2) div {
  margin-top: -203px;
  opacity: 0.9;
}
#cBottCont div:nth-child(2) div:nth-child(2) h3 {
  margin-top: -30px;
  color: #FAD89D;
  padding-left: 5px;
  text-align: left;
  font-family: Verdana, Geneva, sans-serif;
  
}



#cCont {
  width: 900px;
  margin:auto;
  background-color: #FFF;
}

#cTopCont div:nth-child(1) {
  overflow: hidden;
}
#cTopCont div:nth-child(1) div {
  position: absolute;
  width: 900px;
  height: 400px;
  top: 0px;
}
#cTopCont > h1 {
  position: absolute;
  top: 90px;
  width: 900px;
  text-align: center;
  font-size: 55px;
  text-transform: uppercase;
  font-family: Verdana, Geneva, sans-serif;
  color: #FFF;
  font-weight: 100;
}

#cTopCont > h5 {
  position: absolute;
  top: 170px;
  width: 900px;
  text-align: center;
  font-size: 12px;
  font-family: Verdana, Geneva, sans-serif;
  color: #000;
  font-weight: bold;
  opacity: 0.6;
}

#cTopCont div:nth-child(1) img {
  position: absolute;
  top: 0px;
  width: 900px;
  height: 600px;
}

#cTopLink {
  position: absolute;
  top: 5px;
  width: 900px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  opacity: 0.5;
}

#cTopLink div {
  display: flex;
  flex-direction: row;

}

#cTopLink div:nth-child(1) h4 {
  margin-left: 35px;

}


#cTopLink div:nth-child(1) img {
  width: 40px;
  margin-top: 0px;
  height: 40px;
  border: 2px solid #000;
  border-radius: 50%;

}

#cTopLink:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-around; 
}

#cTopLink div a {
  text-decoration: none;
}

#cTopLink h4 {
  text-transform: uppercase;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  color: #000;
  padding-top: 0px;
  padding-left: 10px;
}

#cTopLink h4 i {
  margin-left: 5px;
}

.cOverlay {
  background-color: #453418;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
